<div  *ngIf="!isLoading" class="container">
  <div class="row">
    <mat-button-toggle-group *ngFor="let skill of skills" [(ngModel)]="myFlagForButtonToggle">
      <mat-button-toggle [value]="skill" ngDefaultControl>{{skill.skillName}}</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <p *ngIf="!myFlagForButtonToggle">select a skill to view more</p>

  <div *ngIf="myFlagForButtonToggle">
    <h2 class="skill-heading">SKILL INFO!</h2>
    <div class="skill-name" ><span class="skill-type">Skill Name : </span>{{myFlagForButtonToggle?.skillName}} </div>
    <div ><span class="skill-type"> Start Date : </span>{{myFlagForButtonToggle?.startDate.seconds  * 1000 | date:'dd/MM/yyyy'}} </div>
    <div > <span class="skill-type">Last  Used : </span>{{myFlagForButtonToggle?.lastUsed.seconds  * 1000 | date:'dd/MM/yyyy'}} </div>
    <div > <span class="skill-type">Experience : </span>{{myFlagForButtonToggle?.experience}} yrs</div>

    <div ><span class="skill-type"> Version : </span>{{myFlagForButtonToggle?.version}} </div>


  </div>

</div>

<div *ngIf="isLoading" class="container">... loading! Please Wait</div>