body {
    position: relative; /* usually the parent, in this case the body element, has position relative so that the absolute positioned child is positioned relative to it */
    height: 100vh; /* 100% of the viewport height */
    margin: 0; /* recommended */

  }
  
  h1 {
   position: absolute; /* taken out of the normal flow of the document */
   top: 50%; /* moved down by 50% of the screen height */
   transform: translateY(-50%); /* moved back up (Y axis) by half of its height to achieve the perfect center */
   width: 100%; /* needs to be defined to keep the default block behavior */
   text-align: center;
   margin: 0; /* again, for perfect center */
   font-size: 170px;
   color: #c2185b;
   background-color: #c2185b;
   background-image: linear-gradient(50deg, rgb(78, 179, 75), rgb(86, 206, 214));
   background-size: 100%;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color: transparent; 
   -moz-text-fill-color: transparent;
  
  }

  .social-icon {
    font-size: 100px;
    padding: 20px;
    color: #c2185b;
    background-color: #c2185b;
    background-image: linear-gradient(45deg, #c2185b, #d699b1);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  }
  
  .icon-center {
    text-align: center;
   position: absolute; /* taken out of the normal flow of the document */
left: 50%;
    top: 80%; /* moved down by 50% of the screen height */
   transform: translateY(-50%) translateX(-50%);
  }
  
  

  .container{
    top: 9%;
    left: 50%;
    position: absolute;
    transform: translateX(-45%);
  }