<div class="container">
    <img src="../assets/img/bwdp.png" alt="Autumn" width="300">
</div>
<h1 center>Anish Kumar</h1>
<div class="icon-center">
    <p>Frontend Developer | Angular </p>
    <a href="https://github.com/anishkumar92" target="new"><i class="fa social-icon fa-github"></i></a>
    <a href="https://www.facebook.com/anishkumar92" target="new"><i class="fa social-icon fa-facebook-official" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/anish_srinivaasan/" target="new"><i class="fa social-icon fa-instagram" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/in/anish-srinivaasan/" target="new"><i class="fa social-icon fa-linkedin" aria-hidden="true"></i></a>
    <a href="https://twitter.com/anishkumar92" target="new"><i class="fa social-icon fa-twitter" aria-hidden="true"></i></a>
<p>anishkumar92@gmail.com</p>
</div>