<div class="container">

    
<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
   <mat-card  fxFlex="50%">
        <mat-card-header>
    <div mat-card-avatar class="lti-header-image"></div>
    <mat-card-title>Larsen & Toubro InfoTech (01/03/2021 – current)</mat-card-title>
    <mat-card-subtitle>Senior Software Developer</mat-card-subtitle>
</mat-card-header>
    <mat-card-content>
    <ul>
        <li>The Project aims to create a teller application which is used by Bank employees for banking activities.</li>
        <li>It is a maintenance project were complete delivery is completed and after support is provided.</li>
        <li>Main activities involve defect fixing and enhancement.</li>
    </ul>
    </mat-card-content>
</mat-card>
<br>

<mat-card  fxFlex="50%">
    <mat-card-header>
<div mat-card-avatar class="cognizant-header-image"></div>
<mat-card-title>COGNIZANT (11/04/2019 – 26/02/2021)</mat-card-title>
<mat-card-subtitle>Associate - Senior Developer</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
<ol>
    <li><b>Projects – Develop Angular App for Financial Auditing Company</b> </li>
    <br>
    <ul>

       <li>The Project aims to create an Audit application which is used by many Firms to register and perform their audit activities.</li>
       <li>We had worked in complete agile model, completing task as a team and also as an individual.</li>
       <li>Built reusable shared components, services and validators. The XML based Validation was a new experience for me and was able to learn and understand quickly.</li>
       <li>It is a Multi-lingual Project where we maintained the labels in S3 bucket of AWS.</li>
       <li>Latest software is used for maximum benefit and gave a scope for excellent learning. </li>
       <li>Fixed Defects in raw HTML and CSS this have developed my skill in Flex designs and to match as per VD perfectly. </li>
       <li>Tracked all issues and managed stories using VSTS tool.</li>
       <li>Conducted daily UX \UI \ Business interaction calls to get quick solutions.</li>
    </ul>	
<br>
<li><b>Projects – Develop web UI for Healthcare Application</b></li>
<br>
<ul>

   <li>The Project aims to create a Healthcare application as a product and supply to various customer to perform health care management. </li>
   <li>Flex to HTML 5 / Angular migration project.</li>
   <li>Read and Analyse User story, provide an estimate to deliver code on time with all coding standards.</li>
   <li>Reuse the components to the maximum, to minimize code and to keep it optimised.</li>
   <li>Create interfaces and follow strict types. Use typescript completely and remove all unidentified objects.</li>
   <li>Used rxjs library for advanced communication between the components. </li>
   <li>Handle all functionality in form driven approach with in Typescript file and maintain clean HTML code. </li>
   <li>Was able to create and re-use shared components throughout the application.</li>
   <li>Followed strict coding standards as expected by the client, I also wrote custom lint rules using node.js to find any code errors.  </li>
   <li>Tracked and fixed bugs on time using JIRA tool.</li>
   <li>Communicated with API team, BA team and QA team proactively to keep all in sync. Always pointed out any discrepancy found.</li>
   <li>Write Unit test cases with 90% above coverage for the components developed by us.</li>
</ul>	

</ol>
</mat-card-content>
</mat-card>
</div>

<!--2nd row-->
<br>
<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <mat-card  fxFlex="50%">
         <mat-card-header>
     <div mat-card-avatar class="sg-header-image"></div>
     <mat-card-title>SOCIETE GENERALE GSC Limited (10/05/2017 – 8/11/2018)</mat-card-title>
     <mat-card-subtitle>Senior Software Developer</mat-card-subtitle>
 </mat-card-header>
     <mat-card-content>
     <ol>
         <li><b>Projects – Identity and access management application for SOCIETE GENERALE BANK</b></li>
<br>

         <ul>
            <li>Build and manage Angular based website which enables automated workspace allocation & application accesses for new joiners.</li>
            <li>Application also acts as a portal for managers to manage on-boarding employee. </li>
            <li>The application serves as an employee directory.</li>
            <li>The application consumes the standard API provided by the company for authentication and CURD operations.</li>
            <li>Over 9000 application and 1500 database access are managed via our application, there is always a continuous update for the website.  </li>
            <li>This gave me the opportunity to maintain good relationship with several application teams and fix any configurational change in our application. </li>
            <li>Handle incidents via Service Now ticketing tool and provide real time customer support. </li>
            
         </ul>
     </ol>
     </mat-card-content>
 </mat-card>
 <br>
 
 <mat-card  fxFlex="50%">
     <mat-card-header>
 <div mat-card-avatar class="infy-header-image"></div>
 <mat-card-title>Infosys Limited (17/02/2014 – 20/02/2017)</mat-card-title>
 <mat-card-subtitle>Senior Systems Engineer</mat-card-subtitle>
 </mat-card-header>
 <mat-card-content>
 <ol>
     <li><b>Projects – Application Support for Proximus (Belgacom Communications)</b></li>
     <br>
     <ul>
     <li>Monitoring the Java Application running in Unix System Which uses Oracle Database. </li>
<li>Resolve incidents for Customer within the adhered SLA timelines.</li>
<li>Reactive and proactive Problem Management by daily trend analysis and reports.</li>
<li>Co-ordinate in Change deployment activities for new bug fixes and changes to the application. </li>
<li>Write shell scripts and SQL queries to automate daily task.</li>
</ul>
<br>
     <li><b>Projects - Application Support for Royal Bank of Scotland</b></li>
     <br>
     <ul>
     <li>Involved in Service transition from other IT services provider by which I acquired high domain knowledge and complete understanding high-level portfolio model.</li>
     <li>L3 support for Java based applications, used by internal bank users.</li>
     <li>Monitor application 24 x 7 and provide L1 & L2 support for applications running in windows servers, used by billions of customers.</li>
     <li>Work as team to provide quality Incident, problem and Change management application with in the given SLA by strictly following production rules and documentations.</li>
    </ul> 
<br>

     <li><b>Technical Trainings</b></li>
     <br>
     <ul>
     <li>Fundamental training in JAVA, Oracle SQL, Web – Technologies (HTML, CSS, JavaScript).</li>
     <li>Special training in Oracle Database administration.</li>
     <li>Process understanding based on ITIL standards.</li>
     </ul>


 </ol>
 </mat-card-content>
 </mat-card>
 <br>
 </div>

</div>